@charset "utf-8";
@font-face {
    font-family: NtSansKR;
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/NotoSansKR-Light.eot");
    src: url("../fonts/NotoSansKR-Light.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.otf") format("opentype"); }
@font-face {
    font-family: NtSansKR;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/NotoSansKR-Regular.eot");
    src: url("../fonts/NotoSansKR-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype"); }
@font-face {
    font-family: NtSansKR;
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/NotoSansKR-Medium.eot");
    src: url("../fonts/NotoSansKR-Medium.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("opentype"); }
@font-face {
    font-family: NtSansKR;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/NotoSansKR-Bold.eot");
    src: url("../fonts/NotoSansKR-Bold.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype"); }
@font-face {
    font-family: "Rachel Roman";
    src: url("../fonts/Rachel\ Roman.ttf");
}
body, h1, h2, h3, h4, h5, h6, ul, p, figure, button {margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 {font-size: 100%; }
ul {list-style: none; }
a:link, a:visited, a:hover, a:active { color: inherit; text-decoration: none; }
img {vertical-align: top; }
img, figure {max-width: 100%;}
address {font-style: normal; }
button {border: none; background: none;cursor: pointer; }
header, nav, section, article, figure, footer {display: block; }
.f_l {float: left;}
.f_r {float: right;}
.p_r {position: relative;}
.p_a {position: absolute;}
.clearfix::after {content: "";display: block;clear: both; }
.rachel {font-family: "Rachel Roman"; font-weight: 400;}
.blind-b {width: 1px;height: 1px;overflow: hidden;border: none;position: absolute; clip: rect(1px, 1px,1px, 1px); clip-path: inset(50%); }
body {background-color: #e0e0e0; font-size: 24px; overflow-y: scroll; font-family: NtSansKR, "Rachel Roman", sans-serif;}


/***********************************************************************
Common
***********************************************************************/
.cont_inner {margin: 0 10.26041666666667vw;}
.cont_inner_left {margin-left: 10.26041666666667vw;}
.cont_inner_right {margin-right: 10.26041666666667vw;}

.fixedphone {position: fixed; bottom: 0; right: 2.104166666666667vw; transform: rotate(90deg); transform-origin: right top; font-size: 20px; color: #fff; transition: color 0.5s;}
.fixedphone.scroll {color: #000;}

.ls15 {letter-spacing: -1.5px;}
.ls12 {letter-spacing: -1.2px;}

h1 {font-weight: 400;}
h3 {color: #d18c2f;}

#skip a {
    position: absolute;
    top: 0;
    left: -9999px;
    z-index: 1000; }
    #skip a:focus {
      left: 0;
      width: 100%;
      background: #e0e0e0;
      color: #000;
      text-align: center;
      height: 50px;
      line-height: 50px;
      font-weight: 600; }



/*************************************/

/***********************************************************************
Layout
***********************************************************************/

/* header */
.header {position: fixed; top: 0; left: 0; z-index: 100; width: 100%; height: 100px; top: 0; left: 0; z-index: 99; background: transparent; font-family: "Rachel Roman"; font-weight: 400;}

.logo {float:left;margin-top:45px;}
.logo > a {display:block;}

.header .cont_inner {margin:0 100px;}
.nav {float:right;margin-top:40px; margin-right: 50px;}
.nav_list > li {float:left;margin-left:15px;}
.nav_list > li > a {font-size:18px;}


/* container */
.container {background:#e0e0e0; margin: 0 auto;}





/* footer */




