@charset "utf-8";
/* projects */
.projectswrap {display: flex; justify-content: space-between; align-items: center; margin: 70px 10.66666666666667vw;  }
.prjectstit {text-align: center; line-height: 5; font-size: 30px;}
#card-pick {
    transform: scale(1.1);
}
.card-box {
    position: relative;
    border-radius: 16px;
    max-width: 400px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0,0,0,.26);
    transition: 0.5s;
}
.card-box:hover {
    transform: scale(0.95);
}
.img-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(250, 197, 24, 0), rgba(0.0,0,.1));
    z-index: 1;
}
.text-wrap {
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 2;
}
.text-wrap h3 {
    color: #fff;
}
.text-wrap p {
    color: #fff;
}

.pr2 .img-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 81, 255, 0),rgb(0, 124, 137));
    z-index: 1;
}
.pr3 .img-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(221, 52, 10, 0),  rgb(209, 140, 47));
    z-index: 1;
}
/*  */
#container .titbg {position: relative; height: 100vh; font-size: 90px; color: #fff; text-align: center; bottom: 10px; background: no-repeat center; background-size: cover;}
#container .heyri {background-image: url(../images/project1/pr1bg.jpg);}
#container .bmw {background-image: url(../images/project2/pr2bg.jpg);}
#container .polo {background-image: url(../images/project3/pr3bg.jpg);}
.header {background: transparent; color: #fff;}
#container .titbg h2 {position: absolute; bottom: 40px; left: 50%; transform: translateX(-50%); width: 100%;}

.pr1desc, .pr2desc, .pr3desc {padding: 140px 0;}
.desc {position: relative;}
.desc ul li + li {padding-top: 30px;}
.desc ul li span, .colorbox {float: left; font-size: 28px;}
.desc ul li::after{content: ""; display: block; clear: both;}
.desc ul li .separ {width: 190px; font-weight: 700; font-size: 30px;}
.colorbox {display: flex;}
.colorbox div {width: 32px;height: 36px; margin-right: 26px;}
.colorbox .c1 {background: #d1a074;}
.colorbox .c2 {background: #442a0d;}
.colorbox .c3 {background: #e2cfbe;}
.colorbox .c4 {background: #057afb;}
.colorbox .c5 {background: #efefef;}
.colorbox .c6 {background: #ff2929;}
.colorbox .c7 {background: #eceae2;}
.colorbox .c8 {background: #000000;}
.colorbox .c9 {background: #3090cd;}

.prjectstit {font-size: 80px; font-family: serif; font-family: "Rachel Roman"; font-weight: 400; }
.overview { margin: 60px 0 36px 0; font-size: 30px;}
.overview p {font-size: 28px; line-height: 1.8;}

.more {position: absolute; right: 0; top: 20px; width: 220px; height: 100px; color: #000; background: #ffeb3b; text-align: center; line-height: 100px; border-radius: 10px; font-family: "Rachel Roman";}

.preview {display: flex; justify-content: space-around; align-items: center; }
.disimg {flex-basis: 50%;}

.webtit {display: flex; justify-content: center; align-items: center; margin-top: 50px;}
.accw3c {flex-basis: 50%;}
.accopen {flex-basis: 50%;}
.acctit {font-size: 80px; text-align: center; margin-top: 200px; color: #000;}
.accopen img {margin-top: 110px;}


/* contact */
.contac .titbg {position: relative; height: 100vh; font-size: 90px; color: #fff; text-align: center; bottom: 10px; background: no-repeat center; background-size: cover;}
.contac {background-image: url(../images/contact/cotac_bg.jpg);}
.contacwrap h1 {font-size: 76px; text-align: center; margin: 0 auto; padding: 300px 0; color: #fff; font-family: "Rachel Roman";}
.contacwrap h1::after{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ffeb3b;
  }

.contactinfo {text-align: center; color: #fff; font-size: 30px;}
/* footer */
footer {position: relative; width: 100%; background: #ffeb3b; font-family: "Rachel Roman";}
.foot_top .tit1 {font-size: 100px; text-align: center; height: 80px; line-height: 120px; padding: 150px 0 300px; margin: 100px; font-weight: 400;}

.foot_top a {display: block; width: 150px; height: 70px; line-height: 70px; background: #007c89; margin: 0 auto; text-align: center; margin-bottom: 100px; border-radius: 10px;}

.foot_btm {width: 100%; height: 100px; top: 0; left: 0; z-index: 99; background: transparent;}

.foot_btm .logo {float:left;margin-top:45px;}
.foot_btm .logo > a {display:block;}

.foot_btm .cont_inner {margin:0 100px;}
.foot_btm .nav {float:right; bottom: 0;}
.foot_btm .nav_list > li {float:left;margin-left:15px;}
.foot_btm .nav_list > li > a {font-size:18px;}



